# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# Dataset
Data/
archive/

# Models (Optional: verify size before committing, but usually good to ignore large binaries)
*.pth
*.h5

# OS
.DS_Store
Thumbs.db
